[mysqld]
basedir=/usr
user=maozhifang
datadir=/mnt/nvme/projects/battery/local_mysql/data
socket=/mnt/nvme/projects/battery/local_mysql/run/mysql.sock
port=3307
pid-file=/mnt/nvme/projects/battery/local_mysql/run/mysqld.pid
log-error=/mnt/nvme/projects/battery/local_mysql/logs/error.log
skip-networking=0
bind-address=127.0.0.1
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
max_connections=50
